<div class="page-layout blank p-24" perfectScrollbar>


	<mat-card *ngFor="let deployment of deployment  | async">
		<mat-card-title matTooltip="{{deployment.description}}">{{deployment.name}}
			<button mat-button><i class="fa fa-pencil" aria-hidden="true"></i></button></mat-card-title>


		<mat-card-content>
			<pre>
			<device-count [deployment]='deployment._id'></device-count>
    Sensors (breakdown by type???)
    Controllers (breakdown??)
    Aggregators (Admin only)
    Brokers (Admin only)]
    Locations/Groups
    Health warnings
    </pre>
		</mat-card-content>
		<mat-card-actions>
			<button mat-raised-button>Deployment Details</button>
			<button mat-raised-button>Admin Tasks</button>
			<button mat-raised-button>Maps</button>
			<button mat-raised-button>Health</button>
			<button mat-raised-button>Reports</button>

		</mat-card-actions>
		<device-list [deployment]='deployment._id'>this is the device list</device-list>
	</mat-card>
</div>
