<div class="page-layout blank p-24" perfect-scrollbar>
    
    
        <mat-card *ngFor="let device of device  | async">
            <mat-card-title matTooltip="{{device.description}}">{{device.name}}
                <button mat-button><i class="fa fa-pencil" aria-hidden="true"></i></button>
            </mat-card-title>
       
            <mat-card-content>
                

   <div>

        <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                        {{device.description}}
                  </mat-panel-title>
                  <mat-panel-description>
                    {{device.deviceId}}
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div>Device id, name and description</div>
                <div>Location</div>
                <div><b>MQTT server</b> -- address and portK</div>
                <div>Roles</div>
              </mat-expansion-panel>
              

        

        <mat-tab-group>
                <mat-tab label="Sensors">Sensors</mat-tab>
                <mat-tab label="Controllers">Controllers</mat-tab>
                <mat-tab label="Health">Health</mat-tab>
                 
<mat-tab label="Aggregators"><aggregator-list [ids]="device.aggregators"></aggregator-list></mat-tab>
<mat-tab label="Controllers">Controllers</mat-tab>
<mat-tab label="Broker Details">Broker Details</mat-tab>
              </mat-tab-group>

   </div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button>Push Config to Device</button>
                <button mat-raised-button>Send Command</button>
                <button mat-raised-button>Reset Stats</button>
            </mat-card-actions>
        </mat-card>
    </div>
    