<div class="page-layout blank p-24" perfect-scrollbar>


	<mat-card>
		<mat-card-title>Add a new deployment
			<button mat-button><i class="fa fa-pencil" aria-hidden="true"></i></button></mat-card-title>


		<mat-card-content>


			<form class="hiot-full-width">
				<div fxLayout="column">
					<mat-input-container>
						<input matInput placeholder="Deployment Name" name="name" [(ngModel)]="deployment.name" >
					</mat-input-container>

					<mat-input-container>
						<input matInput placeholder="Description" name="description" [(ngModel)]="deployment.description" >
					</mat-input-container>
<!--
//NOTE: think about not hiding this and letting the user specify an owner...
					<mat-select placeholder="Owner" [(ngModel)]="deployment.owner" floatPlaceholder="never" name="owner">
						<mat-option *ngFor="let user of deployment_users" [value]="user._id">{{ user.name }}</mat-option>
						<mat-option [value]="new">Add User</mat-option>
					</mat-select> -->
					<mat-slide-toggle class="example-margin" [color]="color" [checked]="checked" [(ngModel)]="deployment.active" name="isActive"> 
						Active
					</mat-slide-toggle>
				</div>
			</form>
		</mat-card-content>
		<mat-card-actions>
			<button mat-raised-button (click)="AddDeployment()">Save</button>
			<button mat-raised-button (click)="clear()">Cancel</button>

		</mat-card-actions>

	</mat-card>

</div>
