<mat-sidenav-container>
        
            <div id="hiot-main-content" fxFlexFill>
        
                <ng-container *ngIf="user.authenticated">
                    <hiot-toolbar class="above" [class]="settings.colorClasses.toolbar"></hiot-toolbar>
                </ng-container>
          
        
                <div id="wrapper">

                    <div class="content-wrapper" fxFlexFill>
        
          
        
                        <hiot-content></hiot-content>
       
                    </div>

        
                </div>
        
              
        
            </div>
        
            <!-- QUICK PANEL -->
            <mat-sidenav MdSidenavHelper="quick-panel" align="end">
                <hiot-quick-panel></hiot-quick-panel>
            </mat-sidenav>
            <!-- / QUICK PANEL -->
        
        </mat-sidenav-container>
        
        