<div class="page-layout blank p-24" perfect-scrollbar>

	<div *ngFor="let deployment of deployments  | async">
		<mat-card>
			<mat-card-title mat-tooltip="{{deployment.deployment.description}}">{{deployment.deployment.name}}
				<button mat-button><i class="fa fa-pencil" aria-hidden="true"></i></button></mat-card-title>

			<mat-card-content>
				<div fxlayout="row">
					<div fxFlex="60">
						<mat-chip-list>
							<mat-chip>{{deployment.role.name}}</mat-chip>
						</mat-chip-list>
						<pre>
    Sensors (breakdown by type???)
    Controllers (breakdown??)
    Aggregators (Admin only)
    Brokers (Admin only)]
    Locations/Groups
    Health warnings
    </pre>
					</div>
					<div fxFlex="40">
						<chart [type]="chart1.type" [data]="chart1.data" [options]="chart1.options"></chart>
						<chart [type]="chart2.type" [data]="chart2.data" [options]="chart2.options"></chart>
						<pre>
						
	
Health
Responsiveness (95% within 20ms : green; 90%  within 20ms late or 95% within 500ms late : yellow; 80% within 20ms late or 90% within 500ms: orange, otherwise red)
				</pre>
					</div>
				</div>
			</mat-card-content>
			<mat-card-actions>
				<button mat-raised-button routerLink={{deployment.deployment._id}}>Deployment Details</button>
				<button mat-raised-button (click)="saveChanges()">Admin Tasks</button>
				<button mat-raised-button (click)="saveChanges()">Maps</button>
				<button mat-raised-button (click)="saveChanges()">Health</button>
				<button mat-raised-button (click)="saveChanges()">Reports</button>

			</mat-card-actions>
			<mat-card-footer>
				Devices | Sensors | Controllers | Aggregators | Brokers
			</mat-card-footer>
		</mat-card>
		<br/>
	</div>
</div>
